<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Projetos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Projetos</h1>

        <!-- Tabela de projetos -->
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Arquivos</th>
                </tr>
            </thead>
            <tbody>
                {% for projeto in projetos %}
                    <tr>
                        <td>{{ projeto.nome }}</td>
                        <td>{{ projeto.descricao }}</td>
                        <td>
                            {% if projeto.arquivos %}
                                <ul>
                                    {% for arquivo in projeto.arquivos %}
                                        <li>
                                            {{ arquivo.nome }} ({{ arquivo.tipo }})
                                            <a href="{{ url_for('download_arquivo', file_id=arquivo.file_id) }}" class="btn btn-success btn-sm">Download</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                Nenhum arquivo associado.
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

