*       {
    padding: 0px;
    margin: 0px;
}

body        {
    background-color: #EDF1FF;
}

.container2     {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: brown;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: white;
    display: flex;
    overflow: auto;
    width: 20%;
    margin-left: 5%;
    height: 50vh;

    position: relative;
    top: -60px;
}

.container3{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    background-color:#1A367C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 15vh;
}

.container4     {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    padding-top: 5vh;
    margin-left: 5%;
    margin-right: 5%;
}

.container5     {
    display: flex;
    justify-content: center;
}

.container6     {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.container7     {
    
    flex: auto;
    display: flex;
    flex-wrap: wrap;

    background-color: aliceblue;
    min-height: 40vh;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 20px;
    width: 100%;
}

.container8     {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    position: relative;
    right: 5%;
}

.sc3    {
    margin-left: 5%;
}

.sc4    {
    display: flex;
    align-items: center;
    gap: 10%;
    flex-grow: 1;
}

.infobox{

    background-color: aliceblue;
    margin: 10px;
    border-radius: 30px;
    border-style: dotted;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    
}

.all{
    display: flex;
    justify-content: center;
}

.leftside   {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #555;
    align-items: center;

}

.rightside{
    min-width: 85%;
    max-width: 85%;
    width: 85%;
}

.choosebox  {
    box-sizing: border-box;
    width: 80%;
    margin-top: 20%;
}

.choosebox select {
    border-radius: 100px;
    width: 100%;
    height: 3em;
    text-align: center;
}

.scontainer2        {
    border: solid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    
}

.searchContainer        {
    justify-self: left;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.searchBox      {
    padding: 10px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid 2px;
    background-color: aliceblue;
    border-left: hidden;
    height: 27px;
}

.searchButton       {
    padding: 10px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
    border:solid 2px;
    border-right: hidden;
    right: -5px;
    top: 6px;
}

.centro  {
    position: relative;
    top: 20vh;
}

.classContainer {
    display: flex;
    height: 100vh;
}

.archiveContainer   {
    display: flex;
    flex-direction: column;  
    width: 20%;
    background-color: #ffffff;
    box-sizing: border-box;
    border-right: 1px solid;
    border-color: #969DA9;
}

.archiveItem {
    margin-top: 5px;
    margin-bottom: 5px; 
    word-wrap: break-word; 
}

.archiveInfo    {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.archiveCPF {
    text-align: left;
    width: calc(90% - 20px);
    background-color: #ffffff;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid;
    border-color: #969DA9;
    border-radius: 15px;
}

.previewhelp    {
    margin-top: 3%;
    height: 40vh;
    width: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: calc(90% - 20px);
    padding: 10px;
    border: 1px solid;
    border-color: #969DA9;
    border-radius: 15px;
}

.previewbox {
    height: 100%;
    width: 100%;
}

.embedStyle {
    color: #555;
    height: 100%;
    width: 100%;
}

.red {
    color: red;
}

.centerbox {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.bottomBox      {
    text-align: center;
    background-color:#1A367C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.bdiv       {
    margin: 20px;
    display: flex;
    color: white;
    gap: 15px;
    align-items: center;
}

.bdiv a {
    text-decoration: none;
    color: #ffffff;
}

.somos  {
    align-items: center;
}

#quemSomos  {
    text-decoration: none;
}

.logoUFC        {
    text-decoration: none;
    color: white;
}


.pcs {
    display: flex;
    gap: 20px;
}

.container3 a  {
    text-decoration: none;
    color: white;
}

.quemSomos      {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    padding: 15px;
}

#lpSC       {
    padding: 0;
    margin-left: auto;
    justify-self: center;
}

.searchButton:active .searchButton:hover {
    background-color: antiquewhite;
}

.shape      {
    position: relative;
    display: inline-block;
}

.bloco  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    margin-top: 15px;
    padding: 10px;
    background-color: #555;
    border-radius: 15px;
}

#archives   {
    text-align: center;
}

#editor {
    background-color: #FF6900;
    padding: 10px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}

#summa  {
    text-align: center;
    padding: 10px;
}


.sidebyside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#baixareste {
    text-decoration: none;
}

#pesquisa   {
    background-color: #ffffff;
}

#pesquisa:focus {
    outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.rebaixa    {
    position: relative;
    top: 7px;
}

/*FonteStyles*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  