*       {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body        {
    background-color: antiquewhite;
}

.container2     {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: brown;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: white;
    display: flex;
    overflow: auto;
    width: 20%;
    margin-left: 5%;
    height: 50vh;

    position: relative;
    top: -60px;
}

.container3{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(63, 38, 217);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 15vh;
}

.container4     {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    padding-top: 5vh;
    margin-left: 5%;
    margin-right: 5%;
}

.container5     {
    display: flex;
    justify-content: center;
}

.container6     {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.container7     {
    
    flex: auto;
    display: flex;
    flex-wrap: wrap;

    background-color: aliceblue;
    min-height: 40vh;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}

.container8     {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
}

.sc3    {
    margin-left: 5%;
}

.sc4    {
    display: flex;
    align-items: center;
    gap: 10%;
    flex-grow: 1;
}

.infobox{

    background-color: aliceblue;
    margin: 10px;
    border-radius: 30px;
    border-style: dotted;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    
}

.all{
    display: flex;
    justify-content: center;
}

.leftside   {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #555;
    align-items: center;

}

.rightside{
    min-width: 85%;
    max-width: 85%;
    width: 85%;
}

.choosebox  {
    box-sizing: border-box;
    width: 80%;
    margin-top: 20%;
}

.choosebox select {
    border-radius: 100px;
    width: 100%;
    height: 3em;
    text-align: center;
}

.scontainer2        {
    border: solid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    
}

.searchContainer        {
    justify-self: left;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.searchBox      {
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 2px;
    background-color: aliceblue;
}

.searchButton       {
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    position: relative;
    left: -10px;
    background-color: aliceblue;
    border:solid 2px;
    border-left: hidden;
}

.classContainer {
    display: flex;
    height: 100vh;
}

.archiveContainer   {
    display: flex;
    flex-direction: column;  
    width: 20%;
    background-color: #555;
    box-sizing: border-box;
}

.archiveItem {
    margin-top: 5px;
    margin-bottom: 5px; 
    word-wrap: break-word; 
}

.archiveInfo    {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.archiveCPF {
    text-align: left;
    width: 90%;
    background-color: aqua;
}

.previewhelp    {
    margin-top: 3%;

    height: 40vh;
    width: 90%;
}

.previewbox {
    height: 100%;
    width: 100%;
}

.red {
    color: red;
}

.centerbox {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.outlined{
    text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
}


.centered {
    text-align: center;
}

.bottomBox      {
    text-align: center;
    background-color:rgb(63, 38, 217);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.bdiv       {
    margin: 20px;
    display: flex;
    color: white;
}

.contact        {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: start;
    gap: 5%;
}

.somos  {
    align-items: center;
}

#quemSomos  {
    text-decoration: none;
}

.logoUFC        {
    text-decoration: none;
    color: white;
}


.pcs {
    display: flex;
    gap: 20px;
}

.container3 a  {
    text-decoration: none;
    color: white;
}

.quemSomos      {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    padding: 15px;
}

#lpSC       {
    padding: 0;
    margin-left: auto;
    justify-self: center;
}

.searchButton:active .searchButton:hover {
    background-color: antiquewhite;
}

.shape      {
    position: relative;
    display: inline-block;
}

#archives   {
    text-align: center;
}

#editor {
    background-color: #555;
    padding: 10px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}